<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rogin</title>
</head>

<body>
    <form action="{% url 'regex_app:confirm'}" method="POST" {% csrf_token %} <p>
        <label for="name">Name:
            <input type="name" id="name" value="{{ name }}">
        </label>
        </p>
        <p style="color: red;">
            {% if age == %}
            Ageは1~3桁の半角数字のみで入力してください。
            {% endif %}
        </p>
        <p>
            <label for="age">Age:
                <input type="text" name="age" id="age" value="{{age}}">
            </label>
        </p>
        <p style="color: red">
            {% if zip_code == "" %}
            Zip codeは全7桁の半角数字を入力してください。（ハイフンはあってもなくてもok)
            {% endf %}
        </p>
        <p>
            <label for="zip_code">Zip code:
                <input type="text" name="zip_code" id="zip_code" value="{{zip_code}}">
            </label>
        </p>
</body>

</html>